<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>web_ResManage</title>
    </head>
    <body>
        <h1>もこパン予約システム</h1>
        <h2>予約一覧</h2>
        <h3>
            <td>{{first_baked}}</td>
        </h3>
        {% for reserve in reservers1 %}
            <table border="1" align="left">
                <tr>
                    <th>氏名</th>
                    <td>{{reserve.name}}</td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td>{{reserve.tell}}</td>
                </tr>
                <tr>
                    <th>日付</th>
                    <td>{{reserve.date}}</td>
                </tr>
                <tr>
                    <th>食パン(本)</th>
                    <td>{{reserve.n_hon}}</td>
                </tr>
                <tr>
                    <th>食パン(斤)</th>
                    <td>{{reserve.n_kin}}</td>
                </tr>
                <tr>
                    <th>予約1</th>
                    <td>{{reserve.res1}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res1}}</td>
                </tr>
                <tr>
                    <th>予約2</th>
                    <td>{{reserve.res2}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res2}}</td>
                </tr>
                <tr>
                    <th>予約3</th>
                    <td>{{reserve.res3}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res3}}</td>
                </tr>
                <tr>
                    <th>予約4</th>
                    <td>{{reserve.res4}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res4}}</td>
                </tr>
                <tr>
                    <th>予約5</th>
                    <td>{{reserve.res5}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res5}}</td>
                </tr>
                <tr>
                    <th>その他</th>
                    <td>{{reserve.other}}</td>
                </tr>
                <tr>
                    <td>
                        <a href="/{{reserve.resID}}/delete" role="button">
                            <button type="button">削除</button>
                        </a>
                    </td>
                </tr>
            </table>
        {% endfor %}

        <table border="0">
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
        </table>
        <h3><td>{{second_baked}}</td></h3>
        {% for reserve in reservers2 %}
            <table border="1" align="left">
                <tr>
                    <th>氏名</th>
                    <td>{{reserve.name}}</td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td>{{reserve.tell}}</td>
                </tr>
                <tr>
                    <th>日付</th>
                    <td>{{reserve.date}}</td>
                </tr>
                <tr>
                    <th>食パン(本)</th>
                    <td>{{reserve.n_hon}}</td>
                </tr>
                <tr>
                    <th>食パン(斤)</th>
                    <td>{{reserve.n_kin}}</td>
                </tr>
                <tr>
                    <th>予約1</th>
                    <td>{{reserve.res1}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res1}}</td>
                </tr>
                <tr>
                    <th>予約2</th>
                    <td>{{reserve.res2}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res2}}</td>
                </tr>
                <tr>
                    <th>予約3</th>
                    <td>{{reserve.res3}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res3}}</td>
                </tr>
                <tr>
                    <th>予約4</th>
                    <td>{{reserve.res4}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res4}}</td>
                </tr>
                <tr>
                    <th>予約5</th>
                    <td>{{reserve.res5}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res5}}</td>
                </tr>
                <tr>
                    <th>その他</th>
                    <td>{{reserve.other}}</td>
                </tr>
                <tr>
                    <td>
                        <a href="/{{reserve.resID}}/delete" role="button">
                            <button type="button">削除</button>
                        </a>
                    </td>
                </tr>
            </table>
        {% endfor %}

        <table border="0">
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
        </table>
        <h3><td>{{third_baked}}</td></h3>
        {% for reserve in reservers3 %}
            <table border="1" align="left">
                <tr>
                    <th>氏名</th>
                    <td>{{reserve.name}}</td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td>{{reserve.tell}}</td>
                </tr>
                <tr>
                    <th>日付</th>
                    <td>{{reserve.date}}</td>
                </tr>
                <tr>
                    <th>食パン(本)</th>
                    <td>{{reserve.n_hon}}</td>
                </tr>
                <tr>
                    <th>食パン(斤)</th>
                    <td>{{reserve.n_kin}}</td>
                </tr>
                <tr>
                    <th>予約1</th>
                    <td>{{reserve.res1}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res1}}</td>
                </tr>
                <tr>
                    <th>予約2</th>
                    <td>{{reserve.res2}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res2}}</td>
                </tr>
                <tr>
                    <th>予約3</th>
                    <td>{{reserve.res3}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res3}}</td>
                </tr>
                <tr>
                    <th>予約4</th>
                    <td>{{reserve.res4}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res4}}</td>
                </tr>
                <tr>
                    <th>予約5</th>
                    <td>{{reserve.res5}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res5}}</td>
                </tr>
                <tr>
                    <th>その他</th>
                    <td>{{reserve.other}}</td>
                </tr>
                <tr>
                    <td>
                        <a href="/{{reserve.resID}}/delete" role="button">
                            <button type="button">削除</button>
                        </a>
                    </td>
                </tr>
            </table>
        {% endfor %}

        <table border="0">
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
        </table>
        <h3><td>{{forth_baked}}</td></h3>
        {% for reserve in reservers4 %}
            <table border="1" align="left">
                <tr>
                    <th>氏名</th>
                    <td>{{reserve.name}}</td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td>{{reserve.tell}}</td>
                </tr>
                <tr>
                    <th>日付</th>
                    <td>{{reserve.date}}</td>
                </tr>
                <tr>
                    <th>食パン(本)</th>
                    <td>{{reserve.n_hon}}</td>
                </tr>
                <tr>
                    <th>食パン(斤)</th>
                    <td>{{reserve.n_kin}}</td>
                </tr>
                <tr>
                    <th>予約1</th>
                    <td>{{reserve.res1}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res1}}</td>
                </tr>
                <tr>
                    <th>予約2</th>
                    <td>{{reserve.res2}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res2}}</td>
                </tr>
                <tr>
                    <th>予約3</th>
                    <td>{{reserve.res3}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res3}}</td>
                </tr>
                <tr>
                    <th>予約4</th>
                    <td>{{reserve.res4}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res4}}</td>
                </tr>
                <tr>
                    <th>予約5</th>
                    <td>{{reserve.res5}}</td>
                    <th>個数</th>
                    <td>{{reserve.n_res5}}</td>
                </tr>
                <tr>
                    <th>その他</th>
                    <td>{{reserve.other}}</td>
                </tr>
                <tr>
                    <td>
                        <a href="/{{reserve.resID}}/delete" role="button">
                            <button type="button">削除</button>
                        </a>
                    </td>
                </tr>
            </table>
        {% endfor %}
        <table border="0">
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
            <tr><th>🐈‍</th></tr>
        </table>
        <a href="{{ url_for('index') }}">>戻る</a>
    </body>
</html>