<!DOCTYPE html>
<html lang="ja"
    <head>
            <meta charset="UTF-8">
            <title>web_ResManage</title>
    </head>
    <body>
        <table border="1">
            {%for reserve in reserves1 %}
                <tr>
                    <th>{{reserve.content}}</th>
                </tr>
            {% endfor %}
        </table>
        <table border="1">
            {%for reserve in reserves2 %}
                <tr>
                    <th>{{reserve.content}}</th>
                </tr>
            {% endfor %}
        </table>
        <table border="1">
            {%for reserve in reserves3 %}
                <tr>
                    <th>{{reserve.content}}</th>
                </tr>
            {% endfor %}
        </table>
        <table border="1">
            {%for reserve in reserves4 %}
                <tr>
                    <th>{{reserve.content}}</th>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>